<!DOCTYPE html>
<!-- build:[manifest] index.min.appcache -->
<html lang="en" ng-app="myApp" ng-strict-di>
<!-- /build -->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Carrom</title>
  <meta name="description" content="Carrom game">
  <link rel="shortcut icon"type="image/x-icon" href="data:image/x-icon;,"><!-- Suppress browser request for favicon.ico -->

  <!-- To ensure CSS files are downloaded in parallel, always include external CSS before external JavaScript. -->
  <!-- build:[href] css/everything.min.css -->
  <link rel="stylesheet" type="text/css" href="css/game.css">
  <!-- /build -->
  <link crossorigin="anonymous" rel="stylesheet" type="text/css" href="http://yoav-zibin.github.io/emulator/main.css">

  <!-- build:[href] http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css -->
  <link crossorigin="anonymous" rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.css">
  <!-- /build -->

  <!-- The crossorigin attribute controls, for scripts that are obtained from other origins, whether error information will be exposed. -->
  <!-- build:[src] http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js -->
  <script crossorigin="anonymous" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.js"></script>
  <!-- /build -->

  <!-- For the game rules/instructions, I use carousel from Angular UI + Bootstrap -->
  <!-- build:[src] http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-touch.min.js -->
  <script crossorigin="anonymous" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-touch.js"></script>
  <!-- /build -->
  <!-- build:[src] http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap-tpls.min.js -->
  <script crossorigin="anonymous" src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap-tpls.js"></script>
  <!-- /build -->

  <!-- build:[src] http://yoav-zibin.github.io/emulator/dist/turnBasedServices.3.min.js -->
  <script crossorigin="anonymous" src="http://yoav-zibin.github.io/emulator/dist/turnBasedServices.3.js"></script>
  <!-- /build -->

  <!-- build:js js/everything.min.js -->
  <script src="ts_output_readonly_do_NOT_change_manually/src/gameLogic.js"></script>
  <script src="ts_output_readonly_do_NOT_change_manually/src/game.js"></script>
  <script src="ts_output_readonly_do_NOT_change_manually/src/aiService.js"></script>
  <!-- /build -->

  <!-- build:remove -->
  <!-- https://github.com/philipwalton/html-inspector#getting-started -->
  <script src="http://cdnjs.cloudflare.com/ajax/libs/html-inspector/0.8.2/html-inspector.js"></script>
  <!-- /build -->
</head>
<body ng-cloak>
  <div id="e2e_test_open_rules_modal" class="help-tip" ng-click="game.isHelpModalShown = true" aria-hidden="true"></div>

  <div class="overlayModal" ng-click="game.clickedOnModal($event)"
      ng-class="{zeroOpacity: !game.isHelpModalShown, oneOpacity: game.isHelpModalShown}" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" ng-click="game.isHelpModalShown = false" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 id="e2e_test_rules_title" class="modal-title">
            {{ 'RULES_OF_TICTACTOE'  }}
          </h4>
        </div>
        <div class="modal-body">
          <carousel style="height: 150px">
            <slide>
              <table>
                <tr>
                  <td id="e2e_test_rules_slide1_text">
                    {{ 'RULES_SLIDE1'  }}
                  </td>
                  <td>
                    <img src="imgs/HelpSlide1.png" alt="Help slide 1" style="height:100px;">
                  </td>
                </tr>
              </table>
            </slide>
            <slide>
              <table>
                <tr>
                  <td id="e2e_test_rules_slide2_text">
                  {{ 'RULES_SLIDE2'  }}
                  </td>
                  <td>
                    <img src="imgs/HelpSlide2.png" alt="Help slide 2" style="height:100px;">
                  </td>
                </tr>
              </table>
            </slide>
          </carousel>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" ng-click="game.isHelpModalShown = false">
            {{ 'CLOSE'  }}
          </button>
        </div>
      </div>
    </div>
  </div>

  <!--BOARD DRAWING-->
  <div id="gameArea">
    <svg ng-attr-width='{{game.settings.outerBoardWidth + 100}}' ng-attr-height='{{game.settings.outerBoardHeight + 100}}' xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
    <!-- Created with SVG-edit - http://svg-edit.googlecode.com/ -->
    <g>
      <title>Layer 1</title>
      <!--Outer Border-->
      <rect fill="#000000" stroke-width="0" x="0" y="0" ng-attr-rx='{{game.settings.coinPocketDiameter/2}}' ng-attr-ry='{{game.settings.coinPocketDiameter/2}}' ng-attr-width="{{game.settings.outerBoardWidth}}" ng-attr-height='{{game.settings.outerBoardHeight}}' id="svg_1" stroke="#000000"/>
      
      <!--Inner Board-->
      <rect fill="#F4B350" stroke-width="0" ng-attr-rx='{{game.settings.coinPocketDiameter/2}}' ng-attr-ry='{{game.settings.coinPocketDiameter/2}}' ng-attr-x='{{game.settings.borderThickness}}' ng-attr-y='{{game.settings.borderThickness}}' ng-attr-width='{{game.settings.innerBoardWidth}}' ng-attr-height='{{game.settings.innerBoardHeight}}' id="svg_1" stroke="#000000"/>
      
      <!--Main Circle containing starting coins-->
      <circle fill="#F4B350" stroke="#000000" stroke-width="5" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" ng-attr-cx='{{game.settings.boardCenterX}}' ng-attr-cy='{{game.settings.boardCenterY}}' ng-attr-r='{{game.settings.startingCircleDiameter/2}}' id="svg_47"/>
      
      <!--Coin Pockets-->
      <circle fill="#666666" stroke="#000000" ng-attr-stroke-width='{{game.settings.coinPocketThickness}}' stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" ng-attr-cx='{{game.settings.coinPocketTopLeftX}}' ng-attr-cy='{{game.settings.coinPocketTopLeftY}}' ng-attr-r='{{game.settings.coinPocketDiameter/2}}' id="svg_47"/>
      <circle fill="#666666" stroke="#000000" ng-attr-stroke-width='{{game.settings.coinPocketThickness}}' stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" ng-attr-cx='{{game.settings.coinPocketTopRightX}}' ng-attr-cy='{{game.settings.coinPocketTopRightY}}' ng-attr-r='{{game.settings.coinPocketDiameter/2}}' id="svg_47"/>
      <circle fill="#666666" stroke="#000000" ng-attr-stroke-width='{{game.settings.coinPocketThickness}}' stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" ng-attr-cx='{{game.settings.coinPocketBottomLeftX}}' ng-attr-cy='{{game.settings.coinPocketBottomLeftY}}' ng-attr-r='{{game.settings.coinPocketDiameter/2}}' id="svg_47"/>
      <circle fill="#666666" stroke="#000000" ng-attr-stroke-width='{{game.settings.coinPocketThickness}}' stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" ng-attr-cx='{{game.settings.coinPocketBottomRightX}}' ng-attr-cy='{{game.settings.coinPocketBottomRightY}}' ng-attr-r='{{game.settings.coinPocketDiameter/2}}' id="svg_47"/>
      
      
      
      <!--Diagonal Lines-->
      <line fill="none" stroke="#000000" ng-attr-stroke-width='{{game.settings.diagonalLineThickness}}' stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" ng-attr-x1='{{game.settings.diagonalLineTopLeftStartX}}' ng-attr-y1='{{game.settings.diagonalLineTopLeftStartY}}' ng-attr-x2='{{game.settings.diagonalLineTopLeftEndX}}' ng-attr-y2='{{game.settings.diagonalLineTopLeftEndY}}' id="svg_30"/>
      <line fill="none" stroke="#000000" ng-attr-stroke-width='{{game.settings.diagonalLineThickness}}' stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" ng-attr-x1='{{game.settings.diagonalLineTopRightStartX}}' ng-attr-y1='{{game.settings.diagonalLineTopRightStartY}}' ng-attr-x2='{{game.settings.diagonalLineTopRightEndX}}' ng-attr-y2='{{game.settings.diagonalLineTopRightEndY}}' id="svg_30"/>
      <line fill="none" stroke="#000000" ng-attr-stroke-width='{{game.settings.diagonalLineThickness}}' stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" ng-attr-x1='{{game.settings.diagonalLineBottomRightStartX}}' ng-attr-y1='{{game.settings.diagonalLineBottomRightStartY}}' ng-attr-x2='{{game.settings.diagonalLineBottomRightEndX}}' ng-attr-y2='{{game.settings.diagonalLineBottomRightEndY}}' id="svg_30"/>
      <line fill="none" stroke="#000000" ng-attr-stroke-width='{{game.settings.diagonalLineThickness}}' stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" ng-attr-x1='{{game.settings.diagonalLineBottomLeftStartX}}' ng-attr-y1='{{game.settings.diagonalLineBottomLeftStartY}}' ng-attr-x2='{{game.settings.diagonalLineBottomLeftEndX}}' ng-attr-y2='{{game.settings.diagonalLineBottomLeftEndY}}' id="svg_30"/>
      
      <!--Outer and Inner striker circles-->
      <circle fill="#F4B350" stroke="#000000" ng-attr-stroke-width='{{game.settings.outerStrikerCircleThickness}}' stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" ng-attr-cx='{{game.settings.strikerCircleTopLeft1X}}' ng-attr-cy='{{game.settings.strikerCircleTopLeft1Y}}' ng-attr-r='{{game.settings.outerStrikerCircleDiameter / 2}}' id="svg_14"/>
      <circle fill="#F4B350" stroke="#000000" ng-attr-stroke-width='{{game.settings.outerStrikerCircleThickness}}' stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" ng-attr-cx='{{game.settings.strikerCircleTopLeft2X}}' ng-attr-cy='{{game.settings.strikerCircleTopLeft2Y}}' ng-attr-r='{{game.settings.outerStrikerCircleDiameter / 2}}' id="svg_14"/>
      <circle fill="#F4B350" stroke="#000000" ng-attr-stroke-width='{{game.settings.outerStrikerCircleThickness}}' stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" ng-attr-cx='{{game.settings.strikerCircleTopRight1X}}' ng-attr-cy='{{game.settings.strikerCircleTopRight1Y}}' ng-attr-r='{{game.settings.outerStrikerCircleDiameter / 2}}' id="svg_14"/>
      <circle fill="#F4B350" stroke="#000000" ng-attr-stroke-width='{{game.settings.outerStrikerCircleThickness}}' stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" ng-attr-cx='{{game.settings.strikerCircleTopRight2X}}' ng-attr-cy='{{game.settings.strikerCircleTopRight2Y}}' ng-attr-r='{{game.settings.outerStrikerCircleDiameter / 2}}' id="svg_14"/>
      <circle fill="#F4B350" stroke="#000000" ng-attr-stroke-width='{{game.settings.outerStrikerCircleThickness}}' stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" ng-attr-cx='{{game.settings.strikerCircleBottomRight1X}}' ng-attr-cy='{{game.settings.strikerCircleBottomRight1Y}}' ng-attr-r='{{game.settings.outerStrikerCircleDiameter / 2}}' id="svg_14"/>
      <circle fill="#F4B350" stroke="#000000" ng-attr-stroke-width='{{game.settings.outerStrikerCircleThickness}}' stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" ng-attr-cx='{{game.settings.strikerCircleBottomRight2X}}' ng-attr-cy='{{game.settings.strikerCircleBottomRight2Y}}' ng-attr-r='{{game.settings.outerStrikerCircleDiameter / 2}}' id="svg_14"/>
      <circle fill="#F4B350" stroke="#000000" ng-attr-stroke-width='{{game.settings.outerStrikerCircleThickness}}' stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" ng-attr-cx='{{game.settings.strikerCircleBottomLeft1X}}' ng-attr-cy='{{game.settings.strikerCircleBottomLeft1Y}}' ng-attr-r='{{game.settings.outerStrikerCircleDiameter / 2}}' id="svg_14"/>
      <circle fill="#F4B350" stroke="#000000" ng-attr-stroke-width='{{game.settings.outerStrikerCircleThickness}}' stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" ng-attr-cx='{{game.settings.strikerCircleBottomLeft2X}}' ng-attr-cy='{{game.settings.strikerCircleBottomLeft2Y}}' ng-attr-r='{{game.settings.outerStrikerCircleDiameter / 2}}' id="svg_14"/>
      
      <circle fill="#cf000f" stroke="#000000" stroke-width="0" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" ng-attr-cx='{{game.settings.strikerCircleTopLeft1X}}' ng-attr-cy='{{game.settings.strikerCircleTopLeft1Y}}' ng-attr-r='{{game.settings.innerStrikerCircleDiameter / 2}}' id="svg_14"/>
      <circle fill="#cf000f" stroke="#000000" stroke-width="0" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" ng-attr-cx='{{game.settings.strikerCircleTopLeft2X}}' ng-attr-cy='{{game.settings.strikerCircleTopLeft2Y}}' ng-attr-r='{{game.settings.innerStrikerCircleDiameter / 2}}' id="svg_14"/>
      <circle fill="#cf000f" stroke="#000000" stroke-width="0" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" ng-attr-cx='{{game.settings.strikerCircleTopRight1X}}' ng-attr-cy='{{game.settings.strikerCircleTopRight1Y}}' ng-attr-r='{{game.settings.innerStrikerCircleDiameter / 2}}' id="svg_14"/>
      <circle fill="#cf000f" stroke="#000000" stroke-width="0" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" ng-attr-cx='{{game.settings.strikerCircleTopRight2X}}' ng-attr-cy='{{game.settings.strikerCircleTopRight2Y}}' ng-attr-r='{{game.settings.innerStrikerCircleDiameter / 2}}' id="svg_14"/>
      <circle fill="#cf000f" stroke="#000000" stroke-width="0" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" ng-attr-cx='{{game.settings.strikerCircleBottomRight1X}}' ng-attr-cy='{{game.settings.strikerCircleBottomRight1Y}}' ng-attr-r='{{game.settings.innerStrikerCircleDiameter / 2}}' id="svg_14"/>
      <circle fill="#cf000f" stroke="#000000" stroke-width="0" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" ng-attr-cx='{{game.settings.strikerCircleBottomRight2X}}' ng-attr-cy='{{game.settings.strikerCircleBottomRight2Y}}' ng-attr-r='{{game.settings.innerStrikerCircleDiameter / 2}}' id="svg_14"/>
      <circle fill="#cf000f" stroke="#000000" stroke-width="0" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" ng-attr-cx='{{game.settings.strikerCircleBottomLeft1X}}' ng-attr-cy='{{game.settings.strikerCircleBottomLeft1Y}}' ng-attr-r='{{game.settings.innerStrikerCircleDiameter / 2}}' id="svg_14"/>
      <circle fill="#cf000f" stroke="#000000" stroke-width="0" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" ng-attr-cx='{{game.settings.strikerCircleBottomLeft2X}}' ng-attr-cy='{{game.settings.strikerCircleBottomLeft2Y}}' ng-attr-r='{{game.settings.innerStrikerCircleDiameter / 2}}' id="svg_14"/>
      
      <!--Striker placement lines-->
      <line fill="none" stroke="#000000" ng-attr-stroke-width='{{game.settings.outerStrikerPlacementLineThickness}}' stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" ng-attr-x1='{{game.settings.leftOuterStrikerPlacementLineStartX}}' ng-attr-y1='{{game.settings.leftOuterStrikerPlacementLineStartY}}' ng-attr-x2='{{game.settings.leftOuterStrikerPlacementLineEndX}}' ng-attr-y2='{{game.settings.leftOuterStrikerPlacementLineEndY}}' id="svg_30"/>
      <line fill="none" stroke="#000000" ng-attr-stroke-width='{{game.settings.outerStrikerPlacementLineThickness}}' stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" ng-attr-x1='{{game.settings.rightOuterStrikerPlacementLineStartX}}' ng-attr-y1='{{game.settings.rightOuterStrikerPlacementLineStartY}}' ng-attr-x2='{{game.settings.rightOuterStrikerPlacementLineEndX}}' ng-attr-y2='{{game.settings.rightOuterStrikerPlacementLineEndY}}' id="svg_30"/>
      <line fill="none" stroke="#000000" ng-attr-stroke-width='{{game.settings.outerStrikerPlacementLineThickness}}' stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" ng-attr-x1='{{game.settings.topOuterStrikerPlacementLineStartX}}' ng-attr-y1='{{game.settings.topOuterStrikerPlacementLineStartY}}' ng-attr-x2='{{game.settings.topOuterStrikerPlacementLineEndX}}' ng-attr-y2='{{game.settings.topOuterStrikerPlacementLineEndY}}' id="svg_30"/>
      <line fill="none" stroke="#000000" ng-attr-stroke-width='{{game.settings.outerStrikerPlacementLineThickness}}' stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" ng-attr-x1='{{game.settings.bottomOuterStrikerPlacementLineStartX}}' ng-attr-y1='{{game.settings.bottomOuterStrikerPlacementLineStartY}}' ng-attr-x2='{{game.settings.bottomOuterStrikerPlacementLineEndX}}' ng-attr-y2='{{game.settings.bottomOuterStrikerPlacementLineEndY}}' id="svg_30"/>
      
      
      
      
      
      
      
      
      
      
      <!--Generate Starting coin positions-->
      <circle ng-repeat="coin in game.board" fill='{{coin.color}}' stroke="#000000" stroke-width="1" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" ng-attr-cx='{{coin.coordinate.xPos}}' ng-attr-cy='{{coin.coordinate.yPos}}' ng-attr-r='{{coin.diameter/2}}' id="svg_47"/>
      
      
      <!--<circle fill="none" stroke="#000000" stroke-width="5" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" cx="266" cy="212" r="47.70744" id="svg_22"/>-->
      <!--<circle fill="#FF0000" stroke="#000000" stroke-width="5" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" cx="113.99999" cy="391.5" r="27.80288" id="svg_13"/>
      <circle fill="#FF0000" stroke="#000000" stroke-width="5" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" cx="526.99999" cy="385.5" r="27.80288" id="svg_14"/>
      <circle fill="#FF0000" stroke="#000000" stroke-width="5" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" cx="519.99999" cy="104.5" r="27.80288" id="svg_16"/>
      <circle fill="#000000" stroke="#000000" stroke-width="5" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" cx="51" cy="52" r="47.16991" id="svg_39"/>
      <circle fill="#FF0000" stroke="#000000" stroke-width="5" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" cx="116.99999" cy="106.5" r="27.80288" id="svg_17"/>
      <line fill="none" stroke="#000000" stroke-width="5" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x1="81" y1="76" x2="290" y2="229" id="svg_18"/>
      <line fill="none" stroke="#000000" stroke-width="5" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x1="556" y1="59" x2="396" y2="222" id="svg_19"/>
      <line fill="none" stroke="#000000" stroke-width="5" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x1="88" y1="109" x2="88" y2="387.06474" id="svg_33"/>
      <line fill="none" stroke="#000000" stroke-width="5" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x1="74" y1="425" x2="288" y2="278" id="svg_20"/>
      <line fill="none" stroke="#000000" stroke-width="5" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x1="115" y1="367" x2="526.01946" y2="367" id="svg_28"/>
      <line fill="none" stroke="#000000" stroke-width="5" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x1="555" y1="417" x2="382" y2="265" id="svg_21"/>
      <circle fill="none" stroke="#000000" stroke-width="5" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" cx="404" cy="211.5" r="47.70744" id="svg_24"/>
      <circle fill="none" stroke="#000000" stroke-width="5" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" cx="280" cy="289.5" r="47.70744" id="svg_25"/>
      <circle fill="none" stroke="#000000" stroke-width="5" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" cx="394" cy="277.5" r="47.70744" id="svg_26"/>
      <line fill="none" stroke="#000000" stroke-width="5" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x1="112.49026" y1="416.5" x2="523.50973" y2="416.5" id="svg_30"/>
      <line fill="none" stroke="#000000" stroke-width="5" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x1="105.49026" y1="76.5" x2="516.50973" y2="76.5" id="svg_31"/>
      <line fill="none" stroke="#000000" stroke-width="5" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x1="547" y1="104.46764" x2="547" y2="382.53238" id="svg_35"/>
      <line fill="none" stroke="#000000" stroke-width="5" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x1="115.49026" y1="135.5" x2="526.50973" y2="135.5" id="svg_32"/>
      <line fill="none" stroke="#000000" stroke-width="5" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x1="140" y1="106.46764" x2="140" y2="384.53238" id="svg_34"/>
      <line fill="none" stroke="#000000" stroke-width="5" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x1="493" y1="101.46762" x2="493" y2="379.53236" id="svg_36"/>
      <circle fill="#000000" stroke="#000000" stroke-width="5" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" cx="581" cy="57.5" r="47.16991" id="svg_40"/>
      <circle fill="#000000" stroke="#000000" stroke-width="5" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" cx="53" cy="428.5" r="47.16991" id="svg_42"/>
      <circle fill="#000000" stroke="#000000" stroke-width="5" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" cx="583" cy="420.5" r="47.16991" id="svg_43"/>-->
    </g>
    </svg>
  </div>

</body>
</html>
