<!DOCTYPE html>
<!-- build:[manifest] index.min.appcache -->
<html lang="en" ng-app="myApp" ng-strict-di>
<!-- /build -->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Carrom</title>
  <meta name="description" content="Carrom game">
  <link rel="shortcut icon"type="image/x-icon" href="data:image/x-icon;,"><!-- Suppress browser request for favicon.ico -->

  <!-- To ensure CSS files are downloaded in parallel, always include external CSS before external JavaScript. -->
  <!-- build:[href] css/everything.min.css -->
  <link rel="stylesheet" type="text/css" href="css/game.css">
  <!-- /build -->
  <link crossorigin="anonymous" rel="stylesheet" type="text/css" href="http://yoav-zibin.github.io/emulator/main.css">

  <!-- build:[href] http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css -->
  <link crossorigin="anonymous" rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.css">
  <!-- /build -->

  <!-- The crossorigin attribute controls, for scripts that are obtained from other origins, whether error information will be exposed. -->
  <!-- build:[src] http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js -->
  <script crossorigin="anonymous" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.js"></script>
  <!-- /build -->

  <!-- For the game rules/instructions, I use carousel from Angular UI + Bootstrap -->
  <!-- build:[src] http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-touch.min.js -->
  <script crossorigin="anonymous" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-touch.js"></script>
  <!-- /build -->
  <!-- build:[src] http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap-tpls.min.js -->
  <script crossorigin="anonymous" src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap-tpls.js"></script>
  <!-- /build -->

  <!-- build:[src] http://yoav-zibin.github.io/emulator/dist/turnBasedServices.3.min.js -->
  <script crossorigin="anonymous" src="http://yoav-zibin.github.io/emulator/dist/turnBasedServices.3.js"></script>
  <!-- /build -->

  <!-- build:js js/everything.min.js -->
  <script src="ts_output_readonly_do_NOT_change_manually/src/gameLogic.js"></script>
  <script src="ts_output_readonly_do_NOT_change_manually/src/game.js"></script>
  <script src="ts_output_readonly_do_NOT_change_manually/src/aiService.js"></script>
  <!-- /build -->

  <!-- build:remove -->
  <!-- https://github.com/philipwalton/html-inspector#getting-started -->
  <script src="http://cdnjs.cloudflare.com/ajax/libs/html-inspector/0.8.2/html-inspector.js"></script>
  <!-- /build -->

  <script type="text/javascript" src="node_modules/matter-js/build/matter.min.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
</head>
<body ng-cloak>
  <div id="e2e_test_open_rules_modal" class="help-tip" ng-click="game.isHelpModalShown = true" aria-hidden="true"></div>

  <div class="overlayModal" ng-click="game.clickedOnModal($event)"
      ng-class="{zeroOpacity: !game.isHelpModalShown, oneOpacity: game.isHelpModalShown}" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" ng-click="game.isHelpModalShown = false" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 id="e2e_test_rules_title" class="modal-title">
            {{ 'RULES_OF_TICTACTOE'  }}
          </h4>
        </div>
        <div class="modal-body">
          <carousel style="height: 150px">
            <slide>
              <table>
                <tr>
                  <td id="e2e_test_rules_slide1_text">
                    {{ 'RULES_SLIDE1'  }}
                  </td>
                  <td>
                    <img src="imgs/HelpSlide1.png" alt="Help slide 1" style="height:100px;">
                  </td>
                </tr>
              </table>
            </slide>
            <slide>
              <table>
                <tr>
                  <td id="e2e_test_rules_slide2_text">
                  {{ 'RULES_SLIDE2'  }}
                  </td>
                  <td>
                    <img src="imgs/HelpSlide2.png" alt="Help slide 2" style="height:100px;">
                  </td>
                </tr>
              </table>
            </slide>
          </carousel>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" ng-click="game.isHelpModalShown = false">
            {{ 'CLOSE'  }}
          </button>
        </div>
      </div>
    </div>
  </div>

  <!--BOARD DRAWING-->

  <style type="text/css">
    #gameArea{
      display:block;
      /*height:300px;*/
    } 

    #gameArea canvas{
      width: 100%;
      height: 100%;
    }
  </style>

  <div id="gameArea">
    
  </div>

  <div ng-if="false" id="gameAreaOld">
    <svg ng-attr-width='{{game.settings.outerBoardWidth}}' ng-attr-height='{{game.settings.outerBoardHeight}}' xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
    <!-- Created with SVG-edit - http://svg-edit.googlecode.com/ -->
    <g>
      <!--Outer Border-->
      <rect fill="#000000" stroke-width="0" x="0" y="0" ng-attr-rx='{{game.settings.coinPocketDiameter/2}}' ng-attr-ry='{{game.settings.coinPocketDiameter/2}}' ng-attr-width="{{game.settings.outerBoardWidth}}" ng-attr-height='{{game.settings.outerBoardHeight}}' id="svg_1" stroke="#000000"/>
      
      <!--Inner Board-->
      <rect fill="#F4B350" stroke-width="0" ng-attr-rx='{{game.settings.coinPocketDiameter/2}}' ng-attr-ry='{{game.settings.coinPocketDiameter/2}}' ng-attr-x='{{game.settings.borderThickness}}' ng-attr-y='{{game.settings.borderThickness}}' ng-attr-width='{{game.settings.innerBoardWidth}}' ng-attr-height='{{game.settings.innerBoardHeight}}' id="svg_1" stroke="#000000"/>
      
      <!--Main Circle containing starting coins-->
      <circle fill="#F4B350" stroke="#000000" stroke-width="5" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" ng-attr-cx='{{game.settings.boardCenterX}}' ng-attr-cy='{{game.settings.boardCenterY}}' ng-attr-r='{{game.settings.startingCircleDiameter/2}}' id="svg_47"/>
      
      <!--Coin Pockets-->
      <circle fill="#666666" stroke="#000000" ng-attr-stroke-width='{{game.settings.coinPocketThickness}}' stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" ng-attr-cx='{{game.settings.coinPocketTopLeftX}}' ng-attr-cy='{{game.settings.coinPocketTopLeftY}}' ng-attr-r='{{game.settings.coinPocketDiameter/2}}' id="svg_47"/>
      <circle fill="#666666" stroke="#000000" ng-attr-stroke-width='{{game.settings.coinPocketThickness}}' stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" ng-attr-cx='{{game.settings.coinPocketTopRightX}}' ng-attr-cy='{{game.settings.coinPocketTopRightY}}' ng-attr-r='{{game.settings.coinPocketDiameter/2}}' id="svg_47"/>
      <circle fill="#666666" stroke="#000000" ng-attr-stroke-width='{{game.settings.coinPocketThickness}}' stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" ng-attr-cx='{{game.settings.coinPocketBottomLeftX}}' ng-attr-cy='{{game.settings.coinPocketBottomLeftY}}' ng-attr-r='{{game.settings.coinPocketDiameter/2}}' id="svg_47"/>
      <circle fill="#666666" stroke="#000000" ng-attr-stroke-width='{{game.settings.coinPocketThickness}}' stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" ng-attr-cx='{{game.settings.coinPocketBottomRightX}}' ng-attr-cy='{{game.settings.coinPocketBottomRightY}}' ng-attr-r='{{game.settings.coinPocketDiameter/2}}' id="svg_47"/>
      
      <!--Inner corner circles-->
      <circle fill="#F4B350" stroke="#000000" ng-attr-stroke-width='{{game.settings.innerCornerCircleThickness}}' stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" ng-attr-cx='{{game.settings.innerCornerCircleTopLeftX}}' ng-attr-cy='{{game.settings.innerCornerCircleTopLeftY}}' ng-attr-r='{{game.settings.innerCornerCircleDiameter / 2}}' id="svg_14"/>
      <circle fill="#F4B350" stroke="#000000" ng-attr-stroke-width='{{game.settings.innerCornerCircleThickness}}' stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" ng-attr-cx='{{game.settings.innerCornerCircleTopRightX}}' ng-attr-cy='{{game.settings.innerCornerCircleTopRightY}}' ng-attr-r='{{game.settings.innerCornerCircleDiameter / 2}}' id="svg_14"/>
      <circle fill="#F4B350" stroke="#000000" ng-attr-stroke-width='{{game.settings.innerCornerCircleThickness}}' stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" ng-attr-cx='{{game.settings.innerCornerCircleBottomRightX}}' ng-attr-cy='{{game.settings.innerCornerCircleBottomRightY}}' ng-attr-r='{{game.settings.innerCornerCircleDiameter / 2}}' id="svg_14"/>
      <circle fill="#F4B350" stroke="#000000" ng-attr-stroke-width='{{game.settings.innerCornerCircleThickness}}' stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" ng-attr-cx='{{game.settings.innerCornerCircleBottomLeftX}}' ng-attr-cy='{{game.settings.innerCornerCircleBottomLeftY}}' ng-attr-r='{{game.settings.innerCornerCircleDiameter / 2}}' id="svg_14"/>
      
      <!--Diagonal Lines-->
      <line fill="none" stroke="#000000" ng-attr-stroke-width='{{game.settings.diagonalLineThickness}}' stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" ng-attr-x1='{{game.settings.diagonalLineTopLeftStartX}}' ng-attr-y1='{{game.settings.diagonalLineTopLeftStartY}}' ng-attr-x2='{{game.settings.diagonalLineTopLeftEndX}}' ng-attr-y2='{{game.settings.diagonalLineTopLeftEndY}}' id="svg_30"/>
      <line fill="none" stroke="#000000" ng-attr-stroke-width='{{game.settings.diagonalLineThickness}}' stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" ng-attr-x1='{{game.settings.diagonalLineTopRightStartX}}' ng-attr-y1='{{game.settings.diagonalLineTopRightStartY}}' ng-attr-x2='{{game.settings.diagonalLineTopRightEndX}}' ng-attr-y2='{{game.settings.diagonalLineTopRightEndY}}' id="svg_30"/>
      <line fill="none" stroke="#000000" ng-attr-stroke-width='{{game.settings.diagonalLineThickness}}' stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" ng-attr-x1='{{game.settings.diagonalLineBottomRightStartX}}' ng-attr-y1='{{game.settings.diagonalLineBottomRightStartY}}' ng-attr-x2='{{game.settings.diagonalLineBottomRightEndX}}' ng-attr-y2='{{game.settings.diagonalLineBottomRightEndY}}' id="svg_30"/>
      <line fill="none" stroke="#000000" ng-attr-stroke-width='{{game.settings.diagonalLineThickness}}' stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" ng-attr-x1='{{game.settings.diagonalLineBottomLeftStartX}}' ng-attr-y1='{{game.settings.diagonalLineBottomLeftStartY}}' ng-attr-x2='{{game.settings.diagonalLineBottomLeftEndX}}' ng-attr-y2='{{game.settings.diagonalLineBottomLeftEndY}}' id="svg_30"/>
      
      <!--Outer and Inner striker circles-->
      <circle fill="#F4B350" stroke="#000000" ng-attr-stroke-width='{{game.settings.outerStrikerCircleThickness}}' stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" ng-attr-cx='{{game.settings.strikerCircleTopLeft1X}}' ng-attr-cy='{{game.settings.strikerCircleTopLeft1Y}}' ng-attr-r='{{game.settings.outerStrikerCircleDiameter / 2}}' id="svg_14"/>
      <circle fill="#F4B350" stroke="#000000" ng-attr-stroke-width='{{game.settings.outerStrikerCircleThickness}}' stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" ng-attr-cx='{{game.settings.strikerCircleTopLeft2X}}' ng-attr-cy='{{game.settings.strikerCircleTopLeft2Y}}' ng-attr-r='{{game.settings.outerStrikerCircleDiameter / 2}}' id="svg_14"/>
      <circle fill="#F4B350" stroke="#000000" ng-attr-stroke-width='{{game.settings.outerStrikerCircleThickness}}' stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" ng-attr-cx='{{game.settings.strikerCircleTopRight1X}}' ng-attr-cy='{{game.settings.strikerCircleTopRight1Y}}' ng-attr-r='{{game.settings.outerStrikerCircleDiameter / 2}}' id="svg_14"/>
      <circle fill="#F4B350" stroke="#000000" ng-attr-stroke-width='{{game.settings.outerStrikerCircleThickness}}' stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" ng-attr-cx='{{game.settings.strikerCircleTopRight2X}}' ng-attr-cy='{{game.settings.strikerCircleTopRight2Y}}' ng-attr-r='{{game.settings.outerStrikerCircleDiameter / 2}}' id="svg_14"/>
      <circle fill="#F4B350" stroke="#000000" ng-attr-stroke-width='{{game.settings.outerStrikerCircleThickness}}' stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" ng-attr-cx='{{game.settings.strikerCircleBottomRight1X}}' ng-attr-cy='{{game.settings.strikerCircleBottomRight1Y}}' ng-attr-r='{{game.settings.outerStrikerCircleDiameter / 2}}' id="svg_14"/>
      <circle fill="#F4B350" stroke="#000000" ng-attr-stroke-width='{{game.settings.outerStrikerCircleThickness}}' stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" ng-attr-cx='{{game.settings.strikerCircleBottomRight2X}}' ng-attr-cy='{{game.settings.strikerCircleBottomRight2Y}}' ng-attr-r='{{game.settings.outerStrikerCircleDiameter / 2}}' id="svg_14"/>
      <circle fill="#F4B350" stroke="#000000" ng-attr-stroke-width='{{game.settings.outerStrikerCircleThickness}}' stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" ng-attr-cx='{{game.settings.strikerCircleBottomLeft1X}}' ng-attr-cy='{{game.settings.strikerCircleBottomLeft1Y}}' ng-attr-r='{{game.settings.outerStrikerCircleDiameter / 2}}' id="svg_14"/>
      <circle fill="#F4B350" stroke="#000000" ng-attr-stroke-width='{{game.settings.outerStrikerCircleThickness}}' stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" ng-attr-cx='{{game.settings.strikerCircleBottomLeft2X}}' ng-attr-cy='{{game.settings.strikerCircleBottomLeft2Y}}' ng-attr-r='{{game.settings.outerStrikerCircleDiameter / 2}}' id="svg_14"/>
      
      <circle fill="#cf000f" stroke="#000000" stroke-width="0" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" ng-attr-cx='{{game.settings.strikerCircleTopLeft1X}}' ng-attr-cy='{{game.settings.strikerCircleTopLeft1Y}}' ng-attr-r='{{game.settings.innerStrikerCircleDiameter / 2}}' id="svg_14"/>
      <circle fill="#cf000f" stroke="#000000" stroke-width="0" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" ng-attr-cx='{{game.settings.strikerCircleTopLeft2X}}' ng-attr-cy='{{game.settings.strikerCircleTopLeft2Y}}' ng-attr-r='{{game.settings.innerStrikerCircleDiameter / 2}}' id="svg_14"/>
      <circle fill="#cf000f" stroke="#000000" stroke-width="0" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" ng-attr-cx='{{game.settings.strikerCircleTopRight1X}}' ng-attr-cy='{{game.settings.strikerCircleTopRight1Y}}' ng-attr-r='{{game.settings.innerStrikerCircleDiameter / 2}}' id="svg_14"/>
      <circle fill="#cf000f" stroke="#000000" stroke-width="0" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" ng-attr-cx='{{game.settings.strikerCircleTopRight2X}}' ng-attr-cy='{{game.settings.strikerCircleTopRight2Y}}' ng-attr-r='{{game.settings.innerStrikerCircleDiameter / 2}}' id="svg_14"/>
      <circle fill="#cf000f" stroke="#000000" stroke-width="0" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" ng-attr-cx='{{game.settings.strikerCircleBottomRight1X}}' ng-attr-cy='{{game.settings.strikerCircleBottomRight1Y}}' ng-attr-r='{{game.settings.innerStrikerCircleDiameter / 2}}' id="svg_14"/>
      <circle fill="#cf000f" stroke="#000000" stroke-width="0" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" ng-attr-cx='{{game.settings.strikerCircleBottomRight2X}}' ng-attr-cy='{{game.settings.strikerCircleBottomRight2Y}}' ng-attr-r='{{game.settings.innerStrikerCircleDiameter / 2}}' id="svg_14"/>
      <circle fill="#cf000f" stroke="#000000" stroke-width="0" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" ng-attr-cx='{{game.settings.strikerCircleBottomLeft1X}}' ng-attr-cy='{{game.settings.strikerCircleBottomLeft1Y}}' ng-attr-r='{{game.settings.innerStrikerCircleDiameter / 2}}' id="svg_14"/>
      <circle fill="#cf000f" stroke="#000000" stroke-width="0" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" ng-attr-cx='{{game.settings.strikerCircleBottomLeft2X}}' ng-attr-cy='{{game.settings.strikerCircleBottomLeft2Y}}' ng-attr-r='{{game.settings.innerStrikerCircleDiameter / 2}}' id="svg_14"/>
      
      <!--Striker placement lines-->
      <line fill="none" stroke="#000000" ng-attr-stroke-width='{{game.settings.outerStrikerPlacementLineThickness}}' stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" ng-attr-x1='{{game.settings.leftOuterStrikerPlacementLineStartX}}' ng-attr-y1='{{game.settings.leftOuterStrikerPlacementLineStartY}}' ng-attr-x2='{{game.settings.leftOuterStrikerPlacementLineEndX}}' ng-attr-y2='{{game.settings.leftOuterStrikerPlacementLineEndY}}' id="svg_30"/>
      <line fill="none" stroke="#000000" ng-attr-stroke-width='{{game.settings.outerStrikerPlacementLineThickness}}' stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" ng-attr-x1='{{game.settings.rightOuterStrikerPlacementLineStartX}}' ng-attr-y1='{{game.settings.rightOuterStrikerPlacementLineStartY}}' ng-attr-x2='{{game.settings.rightOuterStrikerPlacementLineEndX}}' ng-attr-y2='{{game.settings.rightOuterStrikerPlacementLineEndY}}' id="svg_30"/>
      <line fill="none" stroke="#000000" ng-attr-stroke-width='{{game.settings.outerStrikerPlacementLineThickness}}' stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" ng-attr-x1='{{game.settings.topOuterStrikerPlacementLineStartX}}' ng-attr-y1='{{game.settings.topOuterStrikerPlacementLineStartY}}' ng-attr-x2='{{game.settings.topOuterStrikerPlacementLineEndX}}' ng-attr-y2='{{game.settings.topOuterStrikerPlacementLineEndY}}' id="svg_30"/>
      <line fill="none" stroke="#000000" ng-attr-stroke-width='{{game.settings.outerStrikerPlacementLineThickness}}' stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" ng-attr-x1='{{game.settings.bottomOuterStrikerPlacementLineStartX}}' ng-attr-y1='{{game.settings.bottomOuterStrikerPlacementLineStartY}}' ng-attr-x2='{{game.settings.bottomOuterStrikerPlacementLineEndX}}' ng-attr-y2='{{game.settings.bottomOuterStrikerPlacementLineEndY}}' id="svg_30"/>
      
      <line fill="none" stroke="#000000" ng-attr-stroke-width='{{game.settings.innerStrikerPlacementLineThickness}}' stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" ng-attr-x1='{{game.settings.leftOuterStrikerPlacementLineStartX + game.settings.innerStrikerPlacementLineOffset}}' ng-attr-y1='{{game.settings.leftOuterStrikerPlacementLineStartY}}' ng-attr-x2='{{game.settings.leftOuterStrikerPlacementLineEndX + game.settings.innerStrikerPlacementLineOffset}}' ng-attr-y2='{{game.settings.leftOuterStrikerPlacementLineEndY}}' id="svg_30"/>
      <line fill="none" stroke="#000000" ng-attr-stroke-width='{{game.settings.innerStrikerPlacementLineThickness}}' stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" ng-attr-x1='{{game.settings.rightOuterStrikerPlacementLineStartX - game.settings.innerStrikerPlacementLineOffset}}' ng-attr-y1='{{game.settings.rightOuterStrikerPlacementLineStartY}}' ng-attr-x2='{{game.settings.rightOuterStrikerPlacementLineEndX - game.settings.innerStrikerPlacementLineOffset}}' ng-attr-y2='{{game.settings.rightOuterStrikerPlacementLineEndY}}' id="svg_30"/>
      <line fill="none" stroke="#000000" ng-attr-stroke-width='{{game.settings.innerStrikerPlacementLineThickness}}' stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" ng-attr-x1='{{game.settings.topOuterStrikerPlacementLineStartX}}' ng-attr-y1='{{game.settings.topOuterStrikerPlacementLineStartY + game.settings.innerStrikerPlacementLineOffset}}' ng-attr-x2='{{game.settings.topOuterStrikerPlacementLineEndX}}' ng-attr-y2='{{game.settings.topOuterStrikerPlacementLineEndY + game.settings.innerStrikerPlacementLineOffset}}' id="svg_30"/>
      <line fill="none" stroke="#000000" ng-attr-stroke-width='{{game.settings.innerStrikerPlacementLineThickness}}' stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" ng-attr-x1='{{game.settings.bottomOuterStrikerPlacementLineStartX}}' ng-attr-y1='{{game.settings.bottomOuterStrikerPlacementLineStartY - game.settings.innerStrikerPlacementLineOffset}}' ng-attr-x2='{{game.settings.bottomOuterStrikerPlacementLineEndX}}' ng-attr-y2='{{game.settings.bottomOuterStrikerPlacementLineEndY - game.settings.innerStrikerPlacementLineOffset}}' id="svg_30"/>
      
      <!--Generate Starting coin positions-->
      <circle ng-repeat="coin in game.board" fill='{{coin.color}}' stroke="#000000" stroke-width="1" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" ng-attr-cx='{{coin.coordinate.xPos}}' ng-attr-cy='{{coin.coordinate.yPos}}' ng-attr-r='{{coin.diameter/2}}' id="svg_47"/>
      
    </g>
    </svg>
  </div>

</body>
</html>
